body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#toolbar {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#panel {
    background-color: #e0e0e0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#mynetwork {
    flex: 3;
    width: 800px;
    height: 100vh;
    border: 1px solid lightgray;
    background-color: #f0f0f0; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px; /* Space between mynetwork and details */
}

#details {
    flex: 1;
    width: 300px;
    height: 100vh; /* Match the height of mynetwork */
    margin-top: 0; /* Remove any top margin */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Ensure positioning context for sticky elements */
}

#details button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: sticky; /* Make the button sticky */
    bottom: 0; /* Stick to the bottom */
}

#details button:hover {
    background-color: #45a049;
}

#details h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#details table {
    width: 100%;
    border-collapse: collapse;
}

#details td {
    padding: 5px;
    vertical-align: top;
}

#details td:first-child {
    font-weight: bold;
    color: #000;
    width: 30%;
}

#details td:last-child {
    color: #555;
    width: 70%;
}
